In [1]:
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy.exc import IntegrityError


from datetime import datetime
import math

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#DB URL
username = "postgres"
password = "ganesha123" 
db_name = "Residential_Rent_DB"
conn_url = f"postgresql://{username}:{password}@localhost/{db_name}"
    
engine = create_engine(conn_url)

#Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['state_county_master',
 'county_zillow_rental_prices',
 'county_demographics',
 'county_renters_evictions']

In [3]:
# read in the master counties data, create a DataFrame, create new 'county_state' column
path = './Resources/Master_Counties.csv'
df = pd.read_csv(path)
# rename the 'state_name' column


df.to_csv(path, index=False)

In [4]:
keep_col = ['state_name','county']
new_df = df[keep_col].drop_duplicates(keep='first')
new_df = new_df.rename(columns={"state_name":"state"})
new_df.head()
counties_path = './Resources/uscounty.csv'
new_df.to_csv(counties_path, index=False)

        state       county
0  California  Los Angeles
1    Illinois         Cook
2       Texas       Harris
3     Arizona     Maricopa
4  California    San Diego

In [5]:
#Populate the state_county_master

state_county_df = pd.read_csv(counties_path)
state_county_df.dropna(axis=0, inplace=True, how='any')

#Bulk insert the records into the State_County_Master table
state_county_df.to_sql('state_county_master', engine, index=False, if_exists="append")

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "state_county_master_pkey"
DETAIL:  Key (state, county)=(California, Los Angeles) already exists.

[SQL: INSERT INTO state_county_master (state, county) VALUES (%(state)s, %(county)s)]
[parameters: ({'state': 'California', 'county': 'Los Angeles'}, {'state': 'Illinois', 'county': 'Cook'}, {'state': 'Texas', 'county': 'Harris'}, {'state': 'Arizona', 'county': 'Maricopa'}, {'state': 'California', 'county': 'San Diego'}, {'state': 'California', 'county': 'Orange'}, {'state': 'Florida', 'county': 'Miami-Dade'}, {'state': 'Texas', 'county': 'Dallas'}  ... displaying 10 of 3136 total bound parameter sets ...  {'state': 'Texas', 'county': 'Loving'}, {'state': 'Hawaii', 'county': 'Kalawao'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [6]:
# zillow steps to take:

# import the data from csv - Randy and Elsa - done by Tuesday
zillow_path = './Resources/price.csv'
zillow_info = pd.read_csv(zillow_path)
#https://worldpopulationreview.com/states/state-abbreviations

# ----------- TRANSFORM - clean the data --------------
# group rows by county - to get the mean of all records for a county - Randy and Elsa  - done by Tuesday
zillow_info = zillow_info.groupby(['County','State']).mean()

# drop city code and population rank columns from the DataFrame 
zillow_info = zillow_info.drop(['City Code','Population Rank'], axis=1)

#reset index
zillow_info.reset_index(inplace=True)

# import the state abbreviations
st_ab_path = './Resources/state_abbreviations.csv'
state_ab_df = pd.read_csv(st_ab_path)
state_ab_df = state_ab_df.drop("Abbrev", axis=1)
state_ab_df = state_ab_df.rename(columns={"State":"state2", "Code":"State"})

#Merge the state names and the code from state_ab_df
zillow_info= pd.merge(zillow_info, state_ab_df, on='State')

#Finally rename the state and the county columns to match the DB columns

zillow_info = zillow_info.rename(columns={'County': 'county', 'State': 'drop_column', 'state2':'state'})
zillow_info = zillow_info.drop('drop_column', axis=1)
zillow_info.head()

,county,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,Jun-11,Jul-11,...,May-16,Jun-16,Jul-16,Aug-16,Sep-16,Oct-16,Nov-16,Dec-16,Jan-17,state
0,Acadia,1077.25,1071.50,1076.25,1081.50,1084.25,1083.75,1091.00,1114.25,1133.75,...,1217.25,1217.00,1208.25,1185.00,1162.50,1150.00,1148.00,1149.00,1146.00,Louisiana
1,Allen,980.50,985.00,996.00,1010.00,1022.00,1027.00,1030.00,1039.50,1047.50,...,1134.50,1116.00,1090.50,1056.50,1023.50,1008.00,1003.00,994.00,981.50,Louisiana
2,Ascension,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1600.80,1590.40,1576.60,1563.40,1563.80,1578.00,1597.80,1613.40,1622.20,Louisiana
3,Beauregard,1120.00,1117.25,1115.25,1109.75,1109.50,1103.75,1096.50,1104.75,1120.75,...,1216.25,1216.75,1198.25,1177.75,1166.75,1165.75,1154.75,1124.25,1088.75,Louisiana
4,Bossier,1100.00,1102.75,1101.00,1100.00,1104.50,1109.50,1111.25,1109.75,1111.00,...,1274.50,1246.00,1211.50,1183.00,1169.50,1177.00,1184.50,1189.25,1180.75,Louisiana

In [7]:
#Load the zillow rent table


Zillow = Base.classes.county_zillow_rental_prices
zillow_columns = list(zillow_info.columns)

#remove state and county from the column list
zillow_columns.remove('state')
zillow_columns.remove('county')

#declare months dict 
months_dict = {"Jan":1,"Feb":1,"Mar":1,"Apr":1,"May":1,"Jun":1,
               "Jul":1,"Aug":1,"Sep":1,"Oct":1,"Nov":1,"Dec":1}

#declare years dict
years_dict = {"10": 2010, "11":2011, "12":2012,"13":2013
              ,"14":2014, "15":2015, "16":2016,"17":2017}

In [8]:

#loop through the dataframe

zillow_table_objects = []
for index, row in zillow_info.iterrows():
    
    state = row['state']
    
    county = row['county']
    #print(f"{state}, {county}")
    #loop through the column list to get the values
    for column in zillow_columns:
        
        #convert column name to a valid date
        column_str_split = column.split("-")
        month = months_dict[column_str_split[0]]
        year = years_dict[column_str_split[1]]
        date = datetime(year, month, 1).date()
        
        #get the rent value for the month-year
        rent_value = float(row[column])
        isNaN = math.isnan(rent_value)
        if  not isNaN: #Dont create the object if we dont have the rent value recorded
            #create the zillow table object into the data base
            zillow_table_obj = Zillow(state=state, county=county, date_recorded=date, avg_rent=rent_value)
        
        #print(zillow_table_obj)
        #add the zillow object to the list
        zillow_table_objects.append(zillow_table_obj)
        break
#zillow_table_objects

In [9]:
session = Session(bind=engine)

for zobject in zillow_table_objects:
    #print(zobject)
    session.add(zobject)
  
try:    
    session.commit()
except IntegrityError as err:
    print("Error: ", err)

Error:  (psycopg2.errors.ForeignKeyViolation) insert or update on table "county_zillow_rental_prices" violates foreign key constraint "state_county_1"
DETAIL:  Key (state, county)=(Louisiana, Saint Landry) is not present in table "state_county_master".

[SQL: INSERT INTO county_zillow_rental_prices (state, county, date_recorded, avg_rent) VALUES (%(state)s, %(county)s, %(date_recorded)s, %(avg_rent)s) RETURNING county_zillow_rental_prices.id]
[parameters: {'state': 'Louisiana', 'county': 'Saint Landry', 'date_recorded': datetime.date(2010, 1, 1), 'avg_rent': 1052.4}]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [ ]:
# evictionlab data steps to take:

# import the data from csv - Sidneyh and Harsh and Jason - done by Tuesday
newPath = './Resources/all-counties.csv'
evictionLab = pd.read_csv(newPath)

# once the data is imported everyone can feel free to work on the data independently

# TO DO - do we need to have the mean here or is that not really correct?
# TO DO - the 'County_State' column still has the word 'County' among other words 
# ('Borough', 'Census Area', etc) in all the rows... if we use this as a key we must remove that

evictionLab = evictionLab.rename(columns={"name": "County", "parent.location": "State"})
evictionLab['County'] = evictionLab['County'].str.replace('County', '' )
evictionLab["County_State"] = evictionLab["County"] +"_"+ evictionLab["State"] 

evictionLab_info = evictionLab.groupby(['County','State', "County_State"]).mean()

new = evictionLab_info.drop(['GEOID', 'year', 'low.flag', 'imputed', 'subbed'], axis=1)

#----------- TRANSFORM - clean the data -------------

# change column names to be more descriptive AND format - Scout and Wesley 

Eviction_df = new.rename(columns={"poverty.rate" : "below poverty line pct", "renter.occupied.households" : "renter occupied households", 
                                  "pct.renter.occupied" : "renter occupied pct", "median.gross.rent" : "median gross rent", "median.household.income" : "median household income",
                                  "median.property.value" : "median property value", "rent.burden":"rent burden pct", "pct.white" : "white pct", "pct.af.am" : "african american pct",
                                  "pct.hispanic" : "hispanic pct", "pct.am.ind" : "american indian pct", "pct.asian" : "asian pct", "pct.nh.pi" : "pacific islander pct",
                                  "pct.multiple" : "multiple race pct", "pct.other" : "other race pct", "eviction.filings": "eviction filings", "evictions" : "evictions",
                                  "eviction.rate" : "eviction rate", "eviction.filing.rate": "eviction filing rate"})

Eviction_df

#---------- LOAD ------------
# key is foreign key - county and state, combined - references "master county table"
## update county and state information to match master table - keep full state name
## then create foreign key

# compare this median.gross.rent to rent information from zillow

In [ ]:
#Populate the COUNTY_ZILLOW_RENTAL_PRICES table
#Populate the COUNTY_DEMOGRAPHICS table
#Populate the COUNTY_RENTERS_EVICTIONS table