In [39]:
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy.exc import IntegrityError

In [40]:
#DB URL
username = "postgres"
password = "BonyPonies21!" 
db_name = "Residential_Rent_DB"
conn_url = f"postgresql://{username}:{password}@localhost/{db_name}"
    
engine = create_engine(conn_url)

#Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['state_county_master',
 'county_zillow_rental_prices',
 'county_demographics_and_income',
 'county_renters_evictions']

In [51]:
# read in the master counties data, create a DataFrame, create new 'county_state' column
path = './Resources/Master_Counties.csv'
countiesDF = pd.read_csv(path)
keep_col = ['state_name','county']
countiesDF = countiesDF[keep_col].drop_duplicates(keep='first')
countiesDF = countiesDF.rename(columns={"state_name":"state", "county":"county"})
counties_path = './Resources/uscounty.csv'
countiesDF.to_csv(counties_path, index=False)

In [52]:
#Populate the state_county_master

state_county_df = pd.read_csv(counties_path)
state_county_df.dropna(axis=0, inplace=True, how='any')

#Bulk insert the records into the State_County_Master table
state_county_df.to_sql('state_county_master', engine, index=False, if_exists="append")

In [8]:
# zillow steps to take:

# import the data from csv - Randy and Elsa - done by Tuesday
path = './Resources/price.csv'
zillow_info = pd.read_csv(path)

# ----------- TRANSFORM - clean the data --------------
# group rows by county - to get the mean of all records for a county - Randy and Elsa  - done by Tuesday
zillow_info = zillow_info.groupby(['County','State']).mean()

# drop city code and population rank columns from the DataFrame - Mark and Anthony
zillow_info = zillow_info.drop(['City Code','Population Rank'], axis=1)

# transpose the rent information from columns into rows
zillow_info_transpose = zillow_info.T
zillow_info_transpose.head()

# ------------ LOAD - get the data into a sql database -------------
# convert into vertical data set instead of horizontal - dates need to be rows instead of columns... or something...
# read csv 
# put data into dictionaries
# create data frames from the dictionaries
# load data frames into database using sqlalchemy, session.query
# key is foreign key - county and state, combined - references "master county table" 
## update county and state information to match master table - change state to full name not an abbreviation
## then create foreign key

County   Acadia Accomack          Ada   Adair        Adams                 \
State        LA       VA           ID      IA           CO     IA  IL  MS
Nov-10  1077.25  1269.75          NaN  1039.0  1248.214286  933.0 NaN NaN
Dec-10  1071.50  1276.75          NaN   999.0  1251.928571  925.0 NaN NaN
Jan-11  1076.25  1291.75          NaN   974.0  1259.857143  924.0 NaN NaN
Feb-11  1081.50  1308.00          NaN   961.0  1273.500000  928.0 NaN NaN
Mar-11  1084.25  1313.00  1055.833333   961.0  1288.285714  936.0 NaN NaN

County                 ...   Yell Yellow Medicine Yellowstone    Yolo York  \
State      NE      OH  ...     AR              MN          MT      CA   ME
Nov-10  827.0  782.50  ...  755.0          1178.5         NaN  1579.8  NaN
Dec-10  842.0  785.00  ...  759.5          1185.5         NaN  1580.6  NaN
Jan-11  855.0  788.25  ...  760.0          1188.5         NaN  1554.2  NaN
Feb-11  854.0  789.25  ...  759.0          1191.5         NaN  1523.8  NaN
Mar-11  863.0  790.25  ...  757.5          1196.0         NaN  1489.2  NaN

County                                  Yuba    Yuma
State            PA      SC      VA       CA      AZ
Nov-10  1219.951613  1197.9  1715.0  1361.75  946.00
Dec-10  1217.774194  1225.2  1707.5  1364.50  938.75
Jan-11  1221.193548  1239.0  1708.5  1368.00  931.50
Feb-11  1229.354839  1215.9  1710.0  1372.25  936.50
Mar-11  1237.209677  1184.4  1715.5  1372.25  941.75

[5 rows x 1820 columns]

In [54]:
# evictionlab data steps to take:

# import the data from csv - Sidneyh and Harsh and Jason - done by Tuesday
newPath = './Resources/all-counties.csv'
evictionLab = pd.read_csv(newPath)

evictionLab = evictionLab.rename(columns={"name": "county", "parent.location": "state"})

# Remove everything that doesn't end in 'County'????? -Randy 
# This didn't seem to be a problem before but now I'm getting this error when loading the data: 
#####IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "county_renters_evictions" violates foreign key constraint "state_county_3"
#####DETAIL:  Key (state, county)=(Alaska, Aleutians East Borough) is not present in table "state_county_master".
evictionLab = evictionLab[evictionLab['county'].str.endswith('County')]

# remove ' County' from all county names to match the naming convention in the master county table
evictionLab['county'] = evictionLab['county'].str.replace(' County', '' )

# Remove anything that's not in county master df? -Randy
# Was getting the same error as the block above - IntegrityError - when it found a county that wasn't in the master table
# I think there should be a better solution but let's do this for now
#countiesDF.merge(evictionLab, on=['col1','col2'], how='left', indicator=True)
#evictionLab = evictionLab[evictionLab['County','State'].isin({'num_wings': [0, 3]})]

#original groupby command below:
#evictionLab_info = evictionLab.groupby(['County','State', "year"]).mean()

evictionLab = evictionLab.drop(['GEOID', 'low.flag', 'imputed', 'subbed'], axis=1)

#----------- TRANSFORM - clean the data -------------

# change column names to be more descriptive AND format - Scout and Wesley 

Eviction_df = evictionLab.rename(columns={
    "poverty.rate" : "below poverty line pct", 
    "renter.occupied.households" : "renter occupied households", 
    "pct.renter.occupied" : "renter occupied pct", 
    "median.gross.rent" : "median gross rent", 
    "median.household.income" : "median household income",
    "median.property.value" : "median property value", 
    "rent.burden":"rent burden pct", "pct.white" : "white pct", 
    "pct.af.am" : "african american pct",
    "pct.hispanic" : "hispanic pct", 
    "pct.am.ind" : "american indian pct", 
    "pct.asian" : "asian pct", 
    "pct.nh.pi" : "pacific islander pct",
    "pct.multiple" : "multiple race pct", 
    "pct.other" : "other race pct", 
    "eviction.filings": "eviction filings", 
    "evictions" : "evictions",
    "eviction.rate" : "eviction rate", 
    "eviction.filing.rate": "eviction filing rate"
})

Eviction_df

#---------- LOAD ------------
# key is foreign key - county and state, combined - references "master county table"
## update county and state information to match master table - keep full state name
## then create foreign key

# compare this median.gross.rent to rent information from zillow

,year,county,state,population,below poverty line pct,renter occupied households,renter occupied pct,median gross rent,median household income,median property value,...,hispanic pct,american indian pct,asian pct,pacific islander pct,multiple race pct,other race pct,eviction filings,evictions,eviction rate,eviction filing rate
85,2008,Autauga,Alabama,49584.0,7.52,4593,22.45,779.0,51463.0,130700.0,...,2.04,0.37,0.62,0.00,1.13,0.11,134.0,79.0,1.72,2.92
86,2009,Autauga,Alabama,49584.0,7.52,4783,22.45,779.0,51463.0,130700.0,...,2.04,0.37,0.62,0.00,1.13,0.11,111.0,56.0,1.17,2.32
87,2011,Autauga,Alabama,55221.0,9.28,5040,26.08,883.0,51281.0,141300.0,...,2.61,0.42,0.97,0.01,1.53,0.14,120.0,69.0,1.37,2.38
88,2012,Autauga,Alabama,55221.0,9.28,5107,26.08,883.0,51281.0,141300.0,...,2.61,0.42,0.97,0.01,1.53,0.14,175.0,101.0,1.98,3.43
89,2013,Autauga,Alabama,55221.0,9.28,5174,26.08,883.0,51281.0,141300.0,...,2.61,0.42,0.97,0.01,1.53,0.14,184.0,117.0,2.26,3.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12525,2016,Uinta,Wyoming,20930.0,10.81,2195,26.95,641.0,56569.0,176700.0,...,8.88,0.38,0.12,0.00,2.62,0.00,16.0,16.0,0.73,0.73
12526,2013,Washakie,Wyoming,8400.0,10.08,974,26.25,605.0,47652.0,160800.0,...,13.99,0.25,0.17,0.00,2.52,0.00,1.0,1.0,0.10,0.10
12527,2014,Washakie,Wyoming,8400.0,10.08,988,26.25,605.0,47652.0,160800.0,...,13.99,0.25,0.17,0.00,2.52,0.00,3.0,3.0,0.30,0.30
12528,2015,Washakie,Wyoming,8400.0,10.08,1002,26.25,605.0,47652.0,160800.0,...,13.99,0.25,0.17,0.00,2.52,0.00,3.0,3.0,0.30,0.30
12529,2016,Washakie,Wyoming,8400.0,10.08,1016,26.25,605.0,47652.0,160800.0,...,13.99,0.25,0.17,0.00,2.52,0.00,6.0,5.0,0.49,0.59

In [56]:
# create two new DataFrames - county_renters_evictions and county_demographics
# these will be used to populate the sql database tables with the corresponding names
# add all the columns that are expected in each DB table, making sure the names match the DB table column names

county_renters_evictions = pd.DataFrame({
    'state': Eviction_df['state'],
    'county': Eviction_df['county'],
    'year_recorded': Eviction_df['year'],
    'number_of_renter_households': Eviction_df["renter occupied households"],
    'renter_occupied_pct': Eviction_df['renter occupied pct'],
    'median_gross_rent': Eviction_df['median gross rent'],
    'median_property_value': Eviction_df['median property value'],
    'rent_burden': Eviction_df['rent burden pct'],
    'eviction_filings': Eviction_df['eviction filings'],
    'actual_evictions': Eviction_df['evictions'], 
    'eviction_rate': Eviction_df['eviction rate'], 
    'eviction_filing_rate': Eviction_df['eviction filing rate']
})

county_demographics = pd.DataFrame({
    'state': Eviction_df['state'],
    'county': Eviction_df['county'],
    'year_recorded': Eviction_df['year'],
    'population': Eviction_df['population'],
    'poverty_rate_pct': Eviction_df['below poverty line pct'], 
    'median_household_income': Eviction_df['median household income'], 
    'white_pct': Eviction_df['white pct'], 
    'af_am_pct': Eviction_df['african american pct'], 
    'hispanic_pct': Eviction_df['hispanic pct'], 
    'am_ind_pct': Eviction_df['american indian pct'], 
    'asian_pct': Eviction_df['asian pct'], 
    'hawaiin_pac_isl_pct': Eviction_df['pacific islander pct'], 
    'multiple_race_pct': Eviction_df['multiple race pct'], 
    'other_races_pct': Eviction_df['other race pct']
})

In [ ]:
#Populate the COUNTY_ZILLOW_RENTAL_PRICES table
#Populate the COUNTY_DEMOGRAPHICS table
#Populate the COUNTY_RENTERS_EVICTIONS table

In [ ]:
county_renters_evictions

In [ ]:
county_demographics

In [59]:
# Load county_renters_eviction data into the database

try:
    county_renters_evictions.to_sql('county_renters_evictions', engine, index=False, if_exists="append")
except IntegrityError as err:
    print('ERROR: ', err)