In [1]:
import pandas as pd

In [2]:
# zillow steps to take:

# ----------- TRANSFORM - clean the data --------------

# get rid of the city and city code and metro (column a b and c) - Mark and Anthony - done by Tuesday
# get rid of population rank - Mark and Anthony - done by Tuesday

# format column headers for readability - Mark and Anthony - done by Tuesday

In [3]:
price_url = 'https://raw.githubusercontent.com/randallwvr90/bootcamp_project_2/Anthony/csv/price.csv'

In [4]:
price_df = pd.read_csv(price_url)

In [5]:
# get rid of the city and city code and metro (column a b and c) -
# get rid of population rank - Mark and Anthony 
price_df.drop(['City Code', 'City', 'Metro', 'Population Rank'], axis=1, inplace=True)

In [6]:
# format column headers for readability

headers = price_df.columns

new_headers = []
for  header in headers:
    new_headers.append(header.replace(" ", ""))

    
price_df.columns = new_headers 
price_df

,County,State,November2010,December2010,January2011,February2011,March2011,April2011,May2011,June2011,...,April2016,May2016,June2016,July2016,August2016,September2016,October2016,November2016,December2016,January2017
0,Queens,NY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2334,2339,2345,2344,2336,2324,2318,2321,2321,2322
1,Los Angeles,CA,2184.0,2184.0,2183.0,2188.0,2189.0,2189.0,2188.0,2191.0,...,2637,2662,2687,2704,2716,2723,2731,2740,2748,2753
2,Cook,IL,1563.0,1555.0,1547.0,1537.0,1526.0,1517.0,1507.0,1497.0,...,1684,1686,1687,1685,1681,1675,1668,1656,1644,1632
3,Harris,TX,1198.0,1199.0,1199.0,1200.0,1203.0,1205.0,1204.0,1199.0,...,1444,1446,1446,1443,1440,1438,1437,1437,1435,1430
4,Philadelphia,PA,1092.0,1099.0,1094.0,1087.0,1080.0,1080.0,1083.0,1082.0,...,1206,1211,1218,1222,1223,1220,1216,1211,1209,1212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13126,Adams,PA,1280.0,1280.0,1284.0,1284.0,1289.0,1291.0,1293.0,1285.0,...,1442,1440,1419,1409,1398,1395,1384,1368,1342,1321
13127,Brown,WI,639.0,650.0,668.0,694.0,725.0,753.0,767.0,803.0,...,1114,1133,1136,1124,1090,1047,1012,1004,1018,1047
13128,Steuben,NY,1433.0,1431.0,1437.0,1458.0,1464.0,1470.0,1470.0,1480.0,...,1595,1611,1612,1607,1609,1619,1627,1625,1625,1624
13129,Calaveras,CA,1516.0,1529.0,1529.0,1515.0,1512.0,1502.0,1498.0,1492.0,...,1514,1528,1534,1525,1526,1529,1541,1553,1558,1563
13130,Hunterdon,NJ,1759.0,1784.0,1787.0,1786.0,1766.0,1768.0,1791.0,1837.0,...,1970,1982,1973,1958,1934,1929,1949,1993,2034,2057